
.indic-matrix-loader-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background: transparent;
  overflow: hidden;
}

.indic-matrix-loader-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.indic-matrix-loader-container .loading {
  position: relative;
  z-index: 2;
  color: black;
  font-size: 2em;
  text-align: center;
  text-shadow: 0 0 10px gray, 0 0 20px black, 0 0 40px darkgray;
  animation: aura 2s infinite alternate;
}

@keyframes aura {
  from {
    text-shadow: 0 0 10px gray, 0 0 20px black, 0 0 40px darkgray;
  }
  to {
    text-shadow: 0 0 20px gray, 0 0 40px black, 0 0 80px darkgray;
  }
}

.indic-matrix-loader-container .dots::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}

[data-theme="dark"] .indic-matrix-loader-container .loading {
    color: white;
    text-shadow: 0 0 10px lightgray, 0 0 20px white, 0 0 40px darkgray;
}

[data-theme="dark"] @keyframes aura {
  from {
    text-shadow: 0 0 10px lightgray, 0 0 20px white, 0 0 40px darkgray;
  }
  to {
    text-shadow: 0 0 20px lightgray, 0 0 40px white, 0 0 80px darkgray;
  }
}

[data-theme="dark"] .indic-matrix-loader-container canvas {
    filter: invert(1);
}
